DB_HOST=pg-database-host
DB_PORT=pg-port
DB_USER=pg-username
DB_PASSWORD=pg-password
DB_NAME=pg-db-name
PORT=localhost-port
GEMINI_API_KEY=gemini-api-key
OLLAMA_MODEL=qwen2.5:1.5b
OLLAMA_URL=http://localhost:11434
 
QDRANT_DB_API=example.xyz
QDRANT_DB_ENDPOINT=https://qdrant-endpoint.com

OLLAMA_EMBED_MODEL=nomic-embed-text